    /*
    Flaticon icon font: flaticon
    Creation date: 20/05/2020 07:42
    */

    @font-face {
  font-family: "flaticon";
  src: url("./flaticon.eot");
  src: url("./flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flaticon.woff2") format("woff2"),
       url("./flaticon.woff") format("woff"),
       url("./flaticon.ttf") format("truetype"),
       url("./flaticon.svg#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon";
    src: url("./flaticon.svg#flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-magnifying-glass:before { content: "\f100"; }
.flaticon-profile:before { content: "\f101"; }
.flaticon-bag:before { content: "\f102"; }
.flaticon-right-arrow:before { content: "\f103"; }
.flaticon-left-arrow:before { content: "\f104"; }
.flaticon-right-arrow-1:before { content: "\f105"; }
.flaticon-left-arrow-1:before { content: "\f106"; }
.flaticon-mail:before { content: "\f107"; }
.flaticon-flame:before { content: "\f108"; }
.flaticon-clock:before { content: "\f109"; }
.flaticon-comment:before { content: "\f10a"; }
.flaticon-chat:before { content: "\f10b"; }
.flaticon-heart:before { content: "\f10c"; }
.flaticon-valentines-heart:before { content: "\f10d"; }
.flaticon-filter:before { content: "\f10e"; }
.flaticon-loading:before { content: "\f10f"; }
.flaticon-checked:before { content: "\f110"; }
.flaticon-tick:before { content: "\f111"; }
.flaticon-close:before { content: "\f112"; }
.flaticon-circular-check-button:before { content: "\f113"; }
.flaticon-check:before { content: "\f114"; }
.flaticon-play-button:before { content: "\f115"; }
.flaticon-360-degrees:before { content: "\f116"; }
.flaticon-login:before { content: "\f117"; }
.flaticon-menu:before { content: "\f118"; }
.flaticon-menu-1:before { content: "\f119"; }
.flaticon-placeholder:before { content: "\f11a"; }
.flaticon-metre:before { content: "\f11b"; }
.flaticon-share:before { content: "\f11c"; }
.flaticon-shuffle:before { content: "\f11d"; }
.flaticon-running:before { content: "\f11e"; }
.flaticon-recycle:before { content: "\f11f"; }
.flaticon-instagram:before { content: "\f120"; }
.flaticon-delivery-truck:before { content: "\f121"; }
.flaticon-closed-lock:before { content: "\f122"; }
.flaticon-support:before { content: "\f123"; }
.flaticon-diamond:before { content: "\f124"; }
.flaticon-high-heels:before { content: "\f125"; }
.flaticon-shirt:before { content: "\f126"; }
.flaticon-dress:before { content: "\f127"; }
.flaticon-shirt-1:before { content: "\f128"; }
.flaticon-glasses:before { content: "\f129"; }
.flaticon-shopping-bag:before { content: "\f12a"; }
.flaticon-trousers:before { content: "\f12b"; }
.flaticon-user:before { content: "\f12c"; }
.flaticon-magnifying-glass-1:before { content: "\f12d"; }
.flaticon-shopping-bag-1:before { content: "\f12e"; }
.flaticon-envelope:before { content: "\f12f"; }
.flaticon-instagram-1:before { content: "\f130"; }
.flaticon-rocket-ship:before { content: "\f131"; }
.flaticon-refresh:before { content: "\f132"; }
.flaticon-return:before { content: "\f133"; }
.flaticon-padlock:before { content: "\f134"; }
.flaticon-random:before { content: "\f135"; }
.flaticon-shopping-cart:before { content: "\f136"; }
.flaticon-cart:before { content: "\f137"; }
.flaticon-filter-1:before { content: "\f138"; }
.flaticon-startup:before { content: "\f139"; }
.flaticon-return-1:before { content: "\f13a"; }
.flaticon-letter:before { content: "\f13b"; }
.flaticon-diamond-1:before { content: "\f13c"; }
.flaticon-key:before { content: "\f13d"; }
.flaticon-envelope-of-white-paper:before { content: "\f13e"; }
    
    $font-flaticon-magnifying-glass: "\f100";
    $font-flaticon-profile: "\f101";
    $font-flaticon-bag: "\f102";
    $font-flaticon-right-arrow: "\f103";
    $font-flaticon-left-arrow: "\f104";
    $font-flaticon-right-arrow-1: "\f105";
    $font-flaticon-left-arrow-1: "\f106";
    $font-flaticon-mail: "\f107";
    $font-flaticon-flame: "\f108";
    $font-flaticon-clock: "\f109";
    $font-flaticon-comment: "\f10a";
    $font-flaticon-chat: "\f10b";
    $font-flaticon-heart: "\f10c";
    $font-flaticon-valentines-heart: "\f10d";
    $font-flaticon-filter: "\f10e";
    $font-flaticon-loading: "\f10f";
    $font-flaticon-checked: "\f110";
    $font-flaticon-tick: "\f111";
    $font-flaticon-close: "\f112";
    $font-flaticon-circular-check-button: "\f113";
    $font-flaticon-check: "\f114";
    $font-flaticon-play-button: "\f115";
    $font-flaticon-360-degrees: "\f116";
    $font-flaticon-login: "\f117";
    $font-flaticon-menu: "\f118";
    $font-flaticon-menu-1: "\f119";
    $font-flaticon-placeholder: "\f11a";
    $font-flaticon-metre: "\f11b";
    $font-flaticon-share: "\f11c";
    $font-flaticon-shuffle: "\f11d";
    $font-flaticon-running: "\f11e";
    $font-flaticon-recycle: "\f11f";
    $font-flaticon-instagram: "\f120";
    $font-flaticon-delivery-truck: "\f121";
    $font-flaticon-closed-lock: "\f122";
    $font-flaticon-support: "\f123";
    $font-flaticon-diamond: "\f124";
    $font-flaticon-high-heels: "\f125";
    $font-flaticon-shirt: "\f126";
    $font-flaticon-dress: "\f127";
    $font-flaticon-shirt-1: "\f128";
    $font-flaticon-glasses: "\f129";
    $font-flaticon-shopping-bag: "\f12a";
    $font-flaticon-trousers: "\f12b";
    $font-flaticon-user: "\f12c";
    $font-flaticon-magnifying-glass-1: "\f12d";
    $font-flaticon-shopping-bag-1: "\f12e";
    $font-flaticon-envelope: "\f12f";
    $font-flaticon-instagram-1: "\f130";
    $font-flaticon-rocket-ship: "\f131";
    $font-flaticon-refresh: "\f132";
    $font-flaticon-return: "\f133";
    $font-flaticon-padlock: "\f134";
    $font-flaticon-random: "\f135";
    $font-flaticon-shopping-cart: "\f136";
    $font-flaticon-cart: "\f137";
    $font-flaticon-filter-1: "\f138";
    $font-flaticon-startup: "\f139";
    $font-flaticon-return-1: "\f13a";
    $font-flaticon-letter: "\f13b";
    $font-flaticon-diamond-1: "\f13c";
    $font-flaticon-key: "\f13d";
    $font-flaticon-envelope-of-white-paper: "\f13e";